@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	font-family: 'Poppins', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
hr {
    width:100%;
    margin:0.5rem 1rem 1rem 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
label{
    color: #5B5959;
    font-weight: 400;
    font-size: 14px;
}
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    background-color: #2196F3;
}

/*------------------------*/
.modal-content{
    border-radius: 8px;
}
input:focus,
button:focus,
.form-control{
    background-color: #f4f4f4;
    border: none;
    border-radius: 8px;
}
.form-control:focus{
	outline: none;
	box-shadow: none;
    background-color: #f4f4f4;
}
.form-control:disabled, .form-control[readonly]{
	background-color: #fff;
}
.box-control{
    border: none;
    background-color: #f4f4f4;
    padding: 25px 25px 25px 25px;
    height:auto;
    border-radius: 8px;
}
.out{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    background-color: #E3DDDD;
}
.out div{
    font-size: 18px;
    margin-top: -13px;
}
.drop-d{
    border-radius: 8px;
    bottom: -8px;
    float: right;
    background-color: #f4f4f4;
    z-index: 2;
}
/*.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #5C62EC;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-round:checked {
    border-radius: 50%;
    background: #5C62EC;
}
.checkbox-round:checked::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    font-size: 12px;
}*/
.cb ul {
    margin-left: 20px;
    margin-top: -4px;
    margin-bottom: -4px;
}
.subjudul{
    list-style: none;
    font-size: 18px;
    margin-bottom: .35rem;
}
.isi {
    list-style: none;
    margin-left: 15px;
    font-size: 14px;
}
.isi2 {
    list-style: none;
    margin-left: 15px;
    font-size: 12px;
}
.checkbox-round {
    position: relative;
}
.checkbox-round label {
    background-color: #fff;
    border: 1px solid #5C62EC;
    border-radius: 50%;
    cursor: pointer;
    height: 1.3rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.3rem;
}
  
.checkbox-round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 12px;
}
  
.checkbox-round input[type="checkbox"] {
    visibility: hidden;
}
  
.checkbox-round input[type="checkbox"]:checked + label {
    background-color: #5C62EC;
    border-color: #5C62EC;
}
  
.checkbox-round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.fa-circle {
    font-size: 7px;
    margin: 0 5px;
    color: #C4C4C4;
}
/*----------step-wizard------------*/
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}

.align-items-center{
	align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
	background-color: #333;
}
.signup-step-container{
	padding: 50px 0px;
	padding-bottom: 10px;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
    position: relative;
    margin-top: -25px;
    margin-bottom: 75px;
    text-align: center;
}

.connecting-line {
    height: 2px;
    background: #E3DDDD;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #736D6D;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #E3DDDD;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #5B5959;
    font-weight: 500;
}
span.round-tab i{
    color:#736D6D;
}
.wizard li.active span.round-tab {
    background: #5C62EC;
    color: #fff;
    border-color: #5C62EC;
}
.wizard li.active span.round-tab i{
    color: #5C62EC;
}
.wizard .nav-tabs > li.active > a i{
	color: #5B5959;
    font-weight: 700;
}

.wizard .nav-tabs > li {
    width: 31%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a i{
	position: absolute;
    margin-left: 15px;
    top: 50px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #736D6D;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
    color: #5B5959;
}

.wizard .tab-pane p{
    font-size: 18px;
    font-weight: 500;
}

.wizard h3 {
    margin-top: 0;
}
.nominal{
    font-size: 16px;
}
.tambah{
    color: #5C62EC;
    font-size: 16px;
    padding: 15px 24px;
    border: 2px solid #5C62EC;
    font-weight: 500;
    border-radius: 8px;
    background-color: #fff;
}
.tambah:hover{
    border: 2px solid #5C62EC;
    background-color: #fff;
    color: #5C62EC;
}
.tambah:focus{
    border: 2px solid #5C62EC;
    border-radius: 8px;
    background-color: #fff;
}
.prev-step{
    color: #5B5959;
    font-size: 16px;
    padding: 15px 0px;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #fff;
}
.prev-step:active{
    background-color: #fff;
}
.next-step{
    color: #fff;
    font-size: 16px;
    padding: 15px 24px;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #5C62EC;
}
.next-step:hover{
    background-color: #5C62EC;
    color: white;
}
.next-step:focus{
    border: none;
    border-radius: 8px;
    background-color: #5C62EC;
}
.simpan{
    color: #fff;
    font-size: 16px;
    padding: 15px 24px;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #5C62EC;
}
.simpan:hover{
    background-color: #5C62EC;
    color: white;
}
.simpan:focus{
    border: none;
    border-radius: 8px;
    background-color: #5C62EC;
}
.tambah2{
    color: #fff;
    font-size: 16px;
    padding: 15px 24px;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #5C62EC;
}
.tambah2:hover{
    background-color: #5C62EC;
    color: white;
}
.tambah2:focus{
    border: none;
    border-radius: 8px;
    background-color: #5C62EC;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
	font-size: 14px;
	font-weight: 400;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.footer-link{
	margin-top: 30px;
}

.list-content{
	margin-bottom: 10px;
}
.list-content a{
	padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
	transform: rotate(180deg);
}
.list-content a i{
	text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.list-box{
	padding: 10px;
}
.signup-logo-header .logo_area{
	width: 200px;
}
.signup-logo-header .nav > li{
	padding: 0;
}
.signup-logo-header .header-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-inline li{
    display: inline-block;
}
.pull-right{
    float: right;
}

@media (max-width: 767px){
	.sign-content h3{
		font-size: 40px;
	}
	.wizard .nav-tabs > li a i{
		display: none;
	}
	.signup-logo-header .navbar-toggle{
		margin: 0;
		margin-top: 8px;
	}
	.signup-logo-header .logo_area{
		margin-top: 0;
	}
	.signup-logo-header .header-flex{
		display: block;
	}
}
